In [2]:
import numpy as np
import random as rnd
import matplotlib.pyplot as plt
import math
from scipy import stats
import pandas as pd
import matplotlib as mpl
import datetime as dt
from pandas_datareader import data as pdr
import plotly.offline as plotly
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import yfinance as yf
yf.pdr_override()
import os
plotly.init_notebook_mode(connected=True)
pd.options.plotting.backend = 'plotly'
import wrds
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

# plt.style.use(['science', 'notebook'])

In [17]:
# for omega values 1 until 2
return_df1 = pd.read_csv("data/final_df_return_simulations.csv")
HE_df1 = pd.read_csv("data/final_df_HE.csv")
volume_df1 = pd.read_csv("data/final_df_volume_simulations.csv")

In [18]:
# for omega values 0.5 until 1
return_df2 = pd.read_csv("data/new_df_return_simulations.csv")
HE_df2 = pd.read_csv("data/new_df_HE.csv")
volume_df2 = pd.read_csv("data/new_df_volume_simulations.csv")

In [9]:
HE_df2

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,50,51,52,53,54,55,56,57,58,59
0,0,4.789934,4.555588,4.231515,4.507955,4.847111,5.216738,4.075964,4.511506,4.211911,...,4.319385,4.23726,5.039834,5.437594,5.324349,4.718208,5.600445,4.82161,4.641478,5.288395
1,1,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,...,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [10]:
def Hill_estimator(data, tail_percentage):
    """
    Returns the Hill Estimators for some 1D data set.
    """  
    # sort data in such way that the smallest value is first and the largest value comes last:
    Y = np.sort(data)
    n = len(Y)
    k = np.round((tail_percentage * n)/100)
    k = int(k)
    log_x_n_minus_k = np.log(Y[n-k-1])
    log_x_n_minus_j_plus_1 = np.log(Y[-k:])

    alpha_est = k *(np.sum(log_x_n_minus_j_plus_1 - log_x_n_minus_k))**(-1)

    return alpha_est

In [14]:
omega = 0.5
start = 1
stop = 11
HE_values = []
omegas = []
for i in range(6):
    HE_values.append(Hill_estimator(return_df2.iloc[start:stop].values.reshape(-1), 0.01))
    omegas.append(omega)
    omega += 0.1
    start += 10
    stop += 10

for i in range(len(HE_values)):
    print('The omega of value', omegas[i], 'has a HE of:', HE_values[i])

The omega of value 0.5 has a HE of: inf
The omega of value 0.6 has a HE of: inf
The omega of value 0.7 has a HE of: 6.093057497697743
The omega of value 0.7999999999999999 has a HE of: 8.36013108948162
The omega of value 0.8999999999999999 has a HE of: 4.5938174717662275
The omega of value 0.9999999999999999 has a HE of: 5.5926446943080395

C:\Users\iChin\AppData\Local\Temp/ipykernel_42104/1808263578.py:13: RuntimeWarning:

divide by zero encountered in double_scalars

In [23]:
HE_df1

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,86,87,88,89,90,91,92,93,94,95
0,0,2.037954,4.841571,2.596,4.93768,21.882729,11.059428,3.079826,8.633207,3.448452,...,50.993463,9.207729,50.993463,8.286446,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.100000,1.200000,1.300,1.40000,1.500000,2.000000,1.000000,1.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.0,2.0,2.0,2.0,2.0,2.0

In [28]:
HE_df1.iloc[1].values[87:90]
HE_df1.iloc[0].values[87:90]

array([50.99346338,  9.2077294 , 50.99346338])

In [ ]:
omega = 1
start = 1
stop = 11
HE_values = []
omegas = []
for i in range(6):
    HE_values.append(Hill_estimator(return_df.iloc[start:stop].values.reshape(-1), 0.01))
    omegas.append(omega)
    omega += 0.1
    start += 10
    stop += 10

for i in range(len(HE_values)):
    print('The omega of value', omegas[i], 'has a HE of:', HE_values[i])